.paginator, #infoSlide{
	color:white!important;
}
.paginator {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	position:relative;
	width:100%;
	list-style:none;
	padding:0;
}
.paginator li{
	display:inline-block;
	padding:10px;
	font-size:20px;
	border: 1px solid #ccc;
}
.paginator .active{
	background:rgba(255,255,255,0.2);
}
html,body{
	margin:0;
	min-height:100%;
}
body{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
a,p,span,div,h1,h2,h3,h4,h5,h6{
	font-family:GOST_type_A;
	font-weight:100;
}
#loginBlock .slideForm{
	top:60px;
	right:20px;
}
.navbar{
	position:fixed;
	top:0;
	width:100%;
	margin:0;
	padding:0;
	background:transparent;
	border:none;
	z-index:5;
}
.navbar-collapse{
	background:#000;
}
.navbar-collapse.in{
	overflow-y:visible;
}
.navbar-right a, .navbar h3, .navbar h5, .startText{
	color:#ccc!important;
}
.navbar-right, .navbar-right a{
	font-size:20px;
}
.startText{
	display:block;
	position:fixed;
	top:40%;
	left:0;
	width:100%;
}
.startText div,h1,p{
	display:inline-block;
	position:relative;
	width:100%;
	text-align:center;
	margin:0;
}
.startText > div{
	height:30px;
	background:#000;
	background:radial-gradient(white 5%,transparent,transparent);
}
.startText h1{
	letter-spacing:40px;
}
.startText p{
	margin:10px 0 0 -15px;
}
#startSlide, #infoSlide{
	display:block;
	position:relative;
	width:100%;
}
.slide{
	background:#000;
}
.slide > h1{
	display:block;
	position:absolute;
	width:100%;
	left:0;
	bottom:20px;
	text-align:center;
	color:#333;
}
.f16-red-red{
	color:red;
}
#infoSlide{
	display:block;
	position:relative;
	height:800px;
	width:100%;
	background:#000;
	background-image:linear-gradient(to right, rgba(0,0,0,0.7) 100%, black 0%), url("../img/fasade.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	overflow:hidden;
	padding:0;
}
#infoSlide .info-background{
	display:block;
	position:absolute;
	min-width:100%;
	min-height:800px;
	top:0;
	left:0;
	opacity:0.3;
}
#aboutSlide{
	display:block;
	position:relative;
	height:800px;
	width:100%;
	background:#000;
	background:linear-gradient(to right, grey 90%, black 10%);
	overflow:hidden;
	padding:0;
}
@media screen and (max-width:580px){
	.startText h1{
	letter-spacing:30px;
}
}
@media screen and (max-width:520px){
	.startText h1{
	letter-spacing:20px;
}
}
@media screen and (max-width:376px){
	.startText h1{
	letter-spacing:12px;
}
}